<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black padding=0">
      <div class="container">
        <a class="navbar-brand" href="#"><img style="height: 170px;" ; claas="logo" src="img/chinofit.ico" alt="LOGO"
            style="text-align: left;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../frontchinoFit.node/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../frontchinoFit.node/registrate.html">registrate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Ingresa</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>